.try-again-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.try-again-container > h1 {
  text-decoration: underline;
  font-size: 36px;
  margin-bottom: 20px;
}
.result-container > p {
  font-size: 28px;
  margin: 7px;
}
.share-btns {
  display: flex;
  flex-direction: row;
}
.end-btns {
  position: relative;
  margin: 12px;
  border: none;
  border-radius: 4px;
  padding: 2px 16px;
  min-width: 64px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.start-again-btn {
  background-color: #3e4248;
}
.start-again-btn:focus,
.start-again-btn:hover {
  background-color: rgb(128, 128, 128);
}
.share-btn {
  background-color: #3b5998;
}
.share-btn:focus,
.share-btn:hover {
  background-color: #5d7dc4;
}
.copy-btn {
  background: #1da1f2;
}
.copy-btn:focus,
.copy-btn:hover {
  background-color: #8faef3;
}
svg {
  width: 25px;
  height: 40px;
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #5c81dc;
}

.tooltip .shared-notif {
  visibility: hidden;
  width: 165px;
  background-color: #5c81dc;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .shared-notif::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #5c81dc transparent transparent transparent;
}
.fs-25 {
  font-size: 25px;
}
.mr-5 {
  margin-right: 5px;
}
